

<div class="banner" style="background-image: url('<%= image_path "ville2.jpg" %>');">
  <div class="banner-content">
    <h1>Smoll Services</h1>
    <p>Le spécialiste des petits Déménagements, Débarras et Ménage</p>
    <a class="btn btn-primary btn-lg">Composer votre DEVIS</a>
  </div>
</div>
