 <!-- code la banniere page accueil selement-->
 <%= render "shared/banner" %>
 <!-- fin de code la banniere -->

<div class="btn">Coulibaly</div>

  <!-- How it Works section -->
      <section  class="section how-it-works" id="how-it-works">
          <div class="container">
              <div class="row text-center">
                  <div class="how-it-works-heading">
                      <h2 class="section-title">Comment ça marche</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 board">
                      <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                      <div class="board-inner">
                          <ul class="nav nav-tabs" id="myTab">
                              <div class="liner"></div>
                              <li class="active">
                                  <a href="#Demenagement" aria-controls="Demenagement" role="tab" data-toggle="tab" title="Compétence">
                        <span class="round-tabs one">
                                <i class="icon icon-profile-male"></i>
                        </span>
                                  </a></li>

                              <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Déménagements">
                       <span class="round-tabs two">
                           <i class="icon icon-pencil"></i>
                       </span>
                              </a>
                              </li>
                              <li><a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Débarras">
                       <span class="round-tabs three">
                            <i class="icon icon-layers"></i>
                       </span> </a>
                              </li>

                              <li><a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="Ménage">
                           <span class="round-tabs four">
                                <i class="icon icon-aperture"></i>
                           </span>
                              </a></li>

                              <li><a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Smoll">
                           <span class="round-tabs five">
                                <i class="icon icon-tools-2"></i>
                           </span> </a>
                              </li>

                          </ul></div>

                      <div class="tab-content">
                          <div class="tab-pane fade in active" id="home">

                              <h3 class="head text-center">Notre compétence</h3>
                              <p class="narrow text-center">
                                  Nous réalisons votre DEVIS EN TEMPS RÉEL et éffectuons le service quand vous voulez
                              </p>

                              <p class="text-center">
                                  <div class= "estimate btn btn-success btn-outline-rounded green"> <%= link_to "Estimer votre devis en temps réel", new_relocation_path%> <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></div>
                              </p>
                          </div>
                          <div class="tab-pane fade" id="profile">
                              <h3 class="head text-center">Déménagement</h3>
                              <p class="narrow text-center">
                                  Ça déménage grave
                              </p>

                              <p class="text-center">
                                  <a href="" class="btn btn-success btn-outline-rounded green"> Estimer en temps réel <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                              </p>

                          </div>
                          <div class="tab-pane fade" id="prototyping">
                              <h3 class="head text-center">Débarras</h3>
                              <p class="narrow text-center">
                                  ÇA ballance tout
                              </p>

                              <p class="text-center">
                                  <a href="" class="btn btn-success btn-outline-rounded green"> Estimer en temps réel <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                              </p>
                          </div>
                          <div class="tab-pane fade" id="uidesign">
                              <h3 class="head text-center">Ménage</h3>
                              <p class="narrow text-center">
                                  ÇA clean propre
                              </p>

                              <p class="text-center">
                                  <a href="" class="btn btn-success btn-outline-rounded green"> Estimer en temps réel <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                              </p>
                          </div>
                          <div class="tab-pane fade" id="doner">
                              <div class="text-center">
                                  <i class="img-intro icon-checkmark-circle"></i>
                              </div>
                              <h3 class="head text-center">Smoll</h3>
                              <p class="narrow text-center">
                                  Faites nous confiance
                              </p>
                              <p class="text-center">
                                  <a href="" class="btn btn-success btn-outline-rounded green"> Estimer en temps réel <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </div>

                  </div>
              </div>
          </div>
      </section>
      <!-- /How it work -->
<div class="vertical-spacer"></div>


<!----------------------------------Debut contenu à Remplir --------------------------------------- -->

  <div class="division-1">
    <!-- à remplire selon le cas -->
   Confier nous vos petits Déménagements
  </div>

<div class="vertical-spacer"></div>

  <div class="division-2">
    <!-- à remplire selon le cas -->
    Confier nous vos  Débarras
  </div>

<div class="vertical-spacer"></div>

  <div class="division-n">
    <!--- ect.... -->
    Confier nous votre Ménage
  </div>

<hr>

<div class="vertical-spacer"></div>
