<div class="banner" style="background-image: url('<%= image_path "ville2.jpg" %>');">

    <h5>New Relocation</h5>
    <%= render 'form', relocation: @relocation %>
    <%= link_to 'Back', relocations_path %>
</div>





