
<div class="banner" style="background-image: url('<%= image_path "ville2.jpg" %>');">
    <h2>Votre SMOLL Déménagement</h2>
    <%= render 'form', relocation: @relocation %>
    <%= link_to "Retour à la page d'acceuil" , root_path %>
</div>





