
/* --------------------------Charte graphique----------------------------------- */
/*------ Syntaxe font ----*/
/* style | variant | weight | stretch | size/line-height | family 'Arvo', serif; */

body {
  background-color: white;
  color:#515151;
  font: 15px "Open Sans", sans-serif;
}


h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: #FA5C65;
}

h1{
  font-weight:bold;
  font-size: 28px;
  color: black;
}

h2{
  font-weight:bold;
  font-size: 24px;
  color: black;
}

h3{
  font-weight:bold;
  font-size: 19px;
  color: black;
}

p{
  font-size: 12px;
  color: black;
}


a {
  color: #484848;
  font: 15px "Open Sans", sans-serif;
  font-weight:bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: white;
  text-decoration: none;
}

/* ------  design par defaut des formulaires du site ------ */


/* ------  design par defaut des inputs (form-control) du site ------ */



/* ------  design par defaut des boutons du site ------ */
.btn  {
  background-color: #FC5B62;
  width: 400px;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-size: 15px;
  font-weight:bold;
}

.btn:hover {
  color: white;
  text-decoration: none;
}



/* ------  design par defaut des cards du site ------ */


/* ------  design par defaut des media queries du site ------ */



/*------ Espacement verticale ----*/

    .vertical-spacer{

      height: 4em;
    }
/*------ Espacement verticale ----*/
