
.form {
  border: black 0px solid;
  width: 70%;
}

.date-volume {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.address  {
  border: 1px solid #0E7E12;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 1%;
}

/*
fieldset {
    border: 1px solid #0E7E12;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
*/

.loading-address, .delivery-address  {
  width: 48%;
}


@media screen and (max-width: 640px) {

        .loading-address, .delivery-address  {
          width: 100%;
        }

        .form {
          border: black 1px solid;
          padding: 0 0.5em;
          width: 100%;
        }

        .date-volume {

        }

        .banner{
          height: 100%;
        }
}



.simple_form label {
  color: black;
  font: 13px "Open Sans", sans-serif;
  font-weight: bold;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}


.elevator {
  display: flex;
  justify-content: space-between;
}

/*
.simple_form div.input {
  margin-bottom: 10px;
  clear: both;  Required for Webkit, but not for Gecko
  background-color: green;
}
*/

